*{
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #fff;
}
.clear{
    clear: both;
}

/* Header */
#page-header{
    height: 500px;
    background: #121619 url(../image/blog-6.jpg) no-repeat center / cover;
    padding: 25px 20px;

}
#sectionid {
    margin-left: -35px;
    padding: 30px 40px 30px 40px;
    height: 110px;
    width: 100%;
    position: absolute;
    top: 0;
    position: fixed;
    z-index: 99;
    transition: all 0.3s ease;
  }
.header-logo{
    padding-left: 10%;
}
.header-logo img{
    float: right;
}
.header-nav{
    text-align: center;
}
.header-nav ul li{
    display: inline-block;
    padding: 0 2%;
    line-height: 54px;
}
.header-nav li:hover a{
    color: #fd9d3e;
}
.header-information{
    color: #fff;
    line-height: 54px;
}
.header-telephone , .header-cart{
    float: left;
}
.header-cart{
    padding-left: 6%;
}
.header-orderonl{
    text-align: center;
    line-height: 54px;
    margin-left: -4%;
}
.header-orderonl a{
    padding: 15px;
    background: #91b842;
    border-radius: 50px;
}
.header-orderonl a:hover{
    background: #fd9d3e;
}
.header-content{
    margin: 100px 0;
    text-align: center;
    color: #fff;
    margin-top: 200px;
}
.header-content h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.header-content a:hover{
    color: #fd9d3e;
}
.fa-solid.fa-phone :hover{
    color: #fd9d3e;
}
/* phần thân */
element.style {
    background: #121619 url(images/blog-6.jpg) ;
}

.page-title {
    text-align: center;
}
.headding-part .headding-title {
    font-size: 70px;
    color: #1d1d1d;
    line-height: 58px;
    letter-spacing: 2px;
}

.headding-part .headding-sub {
    font-size: 30px;
    color: #fd9d3e;
    font-family: 'Pacifico', cursive;
}

.text-center{
    text-align: center!important;
}

.reservation {
    position: relative;
    background: url(/style/image/table-book.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin: 0;
}

.row {
    text-align: center;
}
.selectTime{
    margin-top: 70px;
    border-radius: 60px;
    width: 585px;
    height: 60px;
    float: right;
    border: 1px solid #dadada;
}
.SelectPeople{
    margin-top: 70px;
    border-radius: 60px;
    width: 585px;
    height: 60px;
    float: left;
    border: 1px solid #dadada;
}
.headding-title {
    margin: 30px 0;
    font-size: medium;
}
.headding-sub {
    margin-top: 30px;
    margin-bottom: -20px;
}
.PickDate {
    border-radius: 60px;
    width: 585px;
    height: 60px;
    float: right;
    margin-top: 40px;
    border: 1px solid #dadada;
}
.PhoneNumber {
    border-radius: 60px;
    width: 585px;
    height: 60px;
    float: left;
    margin-top: 40px;
    border: 1px solid #dadada;
}
.Name {
    border-radius: 60px;
    width: 585px;
    height: 60px;
    float: right;
    margin-top: 40px;
    border: 1px solid #dadada;
}
.EmailAddress {
    border-radius: 60px;
    width: 585px;
    height: 60px;
    float: left;
    margin-top: 40px;
    border: 1px solid #dadada;
}
.Coment {
    border-radius: 60px;
    width: 1195px;
    height: 60px;
    margin-top: 40px;
    border: 1px solid #dadada;
}
.btn-book {
    margin-top: 40px;
    border-radius: 60px;
    width: 480px;
    height: 60px;
    background-color: #fd7e14;
    color: #ffffff;
    transition: all 0.3s ease;
    border: 1px solid #dadada;
    font-size: large;
}
.btn-book:hover{
    background-color: transparent;
    border: 1px solid #fd7e14;
    color: #fd7e14;
}
.home{
    color: #ffffff;
}
.online-booking{
    margin-top: 40px;
    padding: 30px;
}

/* footer */
footer {
    background: #121619;
    padding-top: 80px;
}
.footer-logo {
    font-size: 14px;
    color: #fff;
    padding-bottom: 10px;
    margin-left: 65px;
    width: 380px;
    height: 222px;
    float: left;
}
.footer-des{
    margin-left: 95px;
    width: 240px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.footer-logo ul li {
    font-size: 14px;
    color: #fff;
    padding: 10px 0px;
}
.footer-logo li:hover a{
    color: #fd9d3e;
}
.opening-hour{
    color: #fff;
    margin-left: 40px;
}
.opening-hour ul{
    max-width: 400px;
    padding-top: 45px;
}
.opening-hour ul li {
    font-size: 14px;
    color: #fff;
    padding: 9px 0px;
    letter-spacing: 1px;
    
}
.openinghour{
    font-size: 20px;
    
    padding-top: 10px   ;
}
ul li{
    padding: 0px;
}
.opening-hour ul li span{
    float: right;
}
span.footer-close {
    background: #fd9d3e;
    padding: 2px 16px;
}

.useful-links ul {
    padding-top: 40px;
}
.usefullink{
    font-size: 20px;
  
    padding-top: 10px;
    color: #fff;
    text-align: center;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.useful-links ul li {
    font-size: 14px;
    color: #fff;
    padding: 9px 0px;
    letter-spacing: 1px;
   
}
.useful-links ul li a:hover{
    color: #fd9d3e;
}
.copyright {
    padding: 30px;
}
.copy-text {
    color: #fff;
    margin-top: 15px;
}
.copyright .copy-text a {
    color: #fd9d3e;
}
.copyright ul li a {
    color: #fff;
    background: #242628;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
}
.icon{
    padding-right: 130px;
}
.icon ul li{
    display: inline-block;
    float: right;
    padding-left: 8px;
}
.copyright ul li a:hover {
    background-color: #fd9d3e;
}    